#!/usr/bin/env bash
# usage: direnv allow

export REPO_ROOT=$(git rev-parse --show-toplevel 2>/dev/null)
export REPO_RELPATH=$(git rev-parse --show-prefix 2>/dev/null)
export EZPKG_ROOT_DIR="$REPO_ROOT/.."       # ezpkg_root
export EZPKG_DIR="$REPO_ROOT"               # ezpkg_root/ezpkg

PATH_add "${REPO_ROOT}/.bin"
PATH_add $(pwd)
