#!/usr/bin/env bash
# usage: direnv allow

export PROJECT_ROOT=$(git rev-parse --show-toplevel 2>/dev/null)
export PROJECT_RELATIVE=$(git rev-parse --show-prefix 2>/dev/null)

PATH_add "${PROJECT_ROOT}/.bin"
PATH_add $(pwd)
