go 1.23

use (
	.
	bytez
	colorz
	conveyz
	diffz
	errorz
	fmtz
	iterz
	jsonz
	logz
	mapz
	slicez
	stacktracez
	stringz
	testingz
	typez
	unsafez

	// developing packages
	z.z/codez
	z.z/codez_test
	z.z/genz
	zscripts
)
